.select-block {
  position: relative;
}

.select-block + .select-block {
  margin-top: 1.4rem;
}

.select-block label {
  font-size: 1.4rem;
}

.react-dropdown-select {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  outline: 0;
  padding: 0 1.6rem;
  color: var(--color-text-base);
}
.react-dropdown-select-item:hover {
  background-color: #dacef5;
}
.react-dropdown-select-content {
  margin-left: 11px;
}
.react-dropdown-select-input {
  margin: -20px;
}
